.wp-block-gutentitan-gutentitan-static {
	background: black;
	padding: 20px;
	color: white;
}
.wp-block-gutentitan-gutentitan-static h1 {
	color: white;
	text-align: center;
}
.wp-block-gutentitan-gutentitan-static .location {
	font-style: italic;
	text-align: right;
}